{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="signup-login">
        <div class="signup-box">
            <form method="post">
                {% csrf_token %}
                <div class="heading">
                    Login
                </div>
                <div class="line"></div>

                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="field">
                    <b>Username</b>
                    <input type="text" required class="input" placeholder="Enter Your Username" name="username">
                </div>
                <div class="field">
                    <b>Password</b>
                    <input type="password" required class="input" placeholder="Enter Your Password" name="password">
                </div>
                <div class="field">
                    <input type="submit" class="submit-button" value="Login">
                </div>
            </form>
            <div class="field">
                <b>Don't have an account?</b>
                <br>
                <a href="/signup" class="anc">Sign Up</a>
            </div>
        </div>
    </div>
</body>
</html>
